.projects-header{
    width: 100%;
    height: 55px;
    background-color: rgba(0,0,0,0.5);
    border-top: 2px solid #202020;
    border-bottom: 2px solid #202020;
    font-family: 'Martian Mono', monospace;
    text-align: center;
    color: #fff;
    position: relative;
    top: 1100px;
  
    letter-spacing: 1px;
}
.projects-header p {
    font-size: 18px;
    color: #fff;
}
.projects_wrapper{
    width: 100vw;
    position: relative;
    top: 1200px;
}
.projects-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.projects-box section{
  
    background-color: rgba(0,0,0, 0.5);
    border: 1px solid #202020;
    border-radius: 8px;
    position: relative;
    
}
.multimedia-box{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  width: 30vw;
  
  margin: 13px;
}
.multimedia-box::after{
    border-left: 1px solid #fff;
    content: "";
    width: 10px;
    height: 57%;
}
.multimedia-box header{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #202020;
}

.img-box{
    transition: .2s ease-in-out;
    max-width: 590px;
    min-width: 90%;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    
    position: relative;
    border: 1px solid rgb(39, 31, 39);
    top: 15px;
}

.options-wrapper{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: relative;
    top: 33px;
    align-items: center;
}
.options-wrapper a{
    transition: all .4s;
    background-color: #fff;
    color: #202020;
    padding: 6px 18px;
    border-radius: 8px;
}
.descryption-box{
   margin: 20px;
    width: 80vw;
}
.descryption-box header{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #202020;
    color: #fff;
}
.descryption-box header p{
    color: #fff;
}
.descryption-box div{
    border: 0;
    text-align: center;
    padding-bottom: 10px;
}
.descryption-box div p{
    font-size: 13px;
    color: rgb(230, 225, 225);
    letter-spacing: 1px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    
}
.img-box:hover{
    transition: .2s ease-in-out;
    border-color: rebeccapurple;
}
.options-wrapper a:hover{
    transform: scale(1.1,1.1);
    color: #202020;
}

@media screen and (max-width: 1002px) {
    .projects-box{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px 0;
    }
    .multimedia-box{
        width: 70vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    border-left: 0;
 
    margin-left: 0;
    
    }
    .descryption-box{
        border-right: 0;
   
    }
    .img-box{

        width: 380px;
    }
}
@media screen and (max-width: 439px) {
    
    .img-box{
        width: 380px;
    }
    .projects-box section{
       margin-left: 10px;
    }
    .multimedia-box {
        width: 90vw;
    }
    .descryption-box div p{
        font-size: 11px;
    }
}