.about-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 990px;
    margin-left: auto;
    margin-right: auto;
}
.about-box{
    width: 70vw;
   
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #202020;
    border-radius: 7px;
    font-family: 'Martian Mono', monospace;
    
}
.about-box header{
    width: 100%;
    text-align: center;
    position: relative;
    top: 10px;
    border-bottom: 1px solid #202020;
}
.about-box section{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 35px;
    text-align: center;
  
}
.about-box section p{
    padding: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 1002px){
    .about-box {
       
        margin: 0;
        padding: 0;
    }
    .about-box section p{
        padding: 2;
        font-size: 11px;
    }
    .about-box section{
        margin: 0;
    }
}