.navigation{
    width: 100%;
    height: 60px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    border-bottom: 1px solid #303030;
    position: absolute;
    top: 0px;
    left: 0px;
}
.navigation ul{
    display: flex;
}
.nav-active{
    background-color: black;
}
.nav-button-git{
    text-align: center;
   width: 20px;
   height: 40px;
   font-size: 28px;
   background: transparent;
   color: #fff;
   border: 1px solid #404040;
   color: grey;
   position: relative;
   left: 15px;
}
.nav-button-git p {
    
    position: relative;
    bottom: 41px;
    right: 14px;

}
.navigation ul li{
    transition: .2s ease-in-out;
    cursor: pointer;
    width: 80px;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid #303030;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
    color: grey;
    margin: 13px;
    
}
.btn-show-side-menu{
   transition: .2s ease-in-out;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: transparent;
    border: 1px solid #333;
    color: grey;
    margin-right: 20px;
    display: none;
}

.side-menu-wrapper{
 width: 240px;
 height: 100vh;
 background-color: #111;
 transform: translateX(-100%);
 z-index: 1;
 transition: .2s ease-in-out;
 border-right: 1px solid #222;
 position: fixed;
 top: 0px;
}
.side-menu-wrapper ul{
    position: relative;
    top: 30px;
    right: 70px;
}
.side-menu-wrapper ul li{
   
    color: grey;
    cursor: pointer;
    transition: .2s ease-in-out;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 1px;
    width: 140px;
    padding: 3px;
    border: 1px solid #222;
    margin: 70px;
    text-align: center;
    border-radius: 5px;

}
.side-menu-wrapper button{
    text-align: center;
    width: 20px;
    height: 40px;
    font-size: 28px;
    background: transparent;
    color: #fff;
    border: 1px solid #404040;
    color: grey;
    position: relative;
    top: 50px;
    left: 80px;
}
.side-menu-wrapper button p{
    position: relative;
    bottom: 41px;
    right: 14px;
}

.active-menu{
    transition: .2s ease-in-out;
    transform: translateX(0%);
}
.side-menu-wrapper ul li:hover{
    transition: .2s ease-in-out;
    color: #fff;
}

.navigation ul li:hover{
    transition: .2s ease-in-out;
    color: #fff;

}
.nav-button-git:hover{
    transition: .2s ease-in-out;
    color: #fff;
    border-color: #fff;
}
.btn-show-side-menu:hover{
    transition: .2s ease-in-out;
    color: #fff;
}
@media screen and (max-width: 704px){
    .navigation ul li{
        display: none;
    }
    .nav-button-git{
        display: none;
    }
    .btn-show-side-menu{
        display: block;
    }
    
}