.main-main-grid {
  width: 100%;
  position: absolute;
  top: 23%;
}
.welcome-sections-box {
  padding: 0px 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 640px));
  gap: 60px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.welcome-sections-box section {
 
  padding: 10px 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.welcome-sections-box section p {
  color: #fff;
}
.title {
  color: #fff;
  text-align: center;
 display: flex;
 flex-wrap: wrap;
  gap: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 6vw;
}
.title-span {
  color: #fff;
}
.title-span {
  
}
.title span {
  letter-spacing: 1px;
  font-size: 6vw;
}
.arrow-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
}
.arrow-container button{
 font-size: 39px;
 transition: .2s ease-in-out;
 animation: moveArrow 2s infinite;
 border: 0;
 background: transparent;
 color: grey;
}
#icon {
    transition: .2s ease-in-out;
  background: transparent;
  max-width: 70%;

}

#icon:hover{
    transition: .2s ease-in-out;
    transform: scale(1.1,1.1);
}
.arrow-container button:hover{
  transition: .2s ease-in-out;
  color: #fff;
}

@keyframes moveArrow{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(18%);
  } 100%{
    transform: translateY(0%);
  }
}

