.main-main-grid {
  width: 100%;
  position: absolute;
  top: 10%;
}
.welcome-sections-box {
  margin: 100px 0;

  display: flex;

  justify-content: space-between;
  align-items: center;
}
.welcome-sections-box section {
 
  position: relative;
  margin-left: 50px;
}
#first::after {
  border-left: 1px solid #fff;
  content: "";
  width: 10px;
  height: 57%;
}
#first {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  border-left: 1px solid #fff;
  padding-left: 3%;
}
#second {
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;
  padding-right: 3%;
  margin-right: 50px;
}
#second img {
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  width: 470px;
  height: 470px;
}

.welcome-sections-box section p {
  color: #fff;
}

.title-span {
  color: #fff;
}

.title {

  color: #fff;
  text-align: center;
 display: flex;
 flex-wrap: wrap;
  gap: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 6vw;
}
.title span {
  letter-spacing: 1px;
  font-size: 6vw;
}


.title{
  color: violet;
}


#first button{
  transition: all .4s;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  margin: 6px;
  background-color: #31023b;
  outline: none;
  font-size: 19px;
  
  color: violet;
}
#first button span{
  position: relative;
  right: 9px;

}

#first button:hover{

  background-color: #4d025c;
  transform: scale(1.1,1.1);
}
#second img:hover{
  transition: .2s ease-in-out;
  transform: scale(1.1,1.1);
}



@media screen and (max-width: 1002px) {
  
  .welcome-sections-box {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0;
  }
  
  #first {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    border-left: 0;
    margin-left: 0;
  }
  .title{
    font-size: 8vw;
    gap: 25px;
  }
  .title span{
    font-size: 8vw;
  }
  #second {
    border-right: 0;
  }
  #second img {
    width: 400px;
  }
}
@media screen and (max-width: 439px) {
  #second img {
    width: 330px;
  }
  .title{
    font-size: 7vw;
    
  }
  .title span{
    font-size: 7vw;
  }
  
  
}

